.navbarcustom {
  background-color: rgba(48, 41, 144, 0.514);
  backdrop-filter: blur(40px);
  padding:1%;
  
}

.custombtn {
  vertical-align:middle;
}

.navbarcustom {
  position: relative;
  background-color: rgba(48, 41, 144, 0.514);
  backdrop-filter: blur(40px);
  padding:1%;
  
}

.product {
  position: relative;
  width: 100%; /* Adjust the width as desired */
  height: 500px; /* Adjust the height as desired */
  background-color: rgba(48, 41, 144, 0.514); /* Change the background color as desired */
  /* Additional styles for the square container */
}

.product-total {
  position: relative;
  width: 100%; /* Adjust the width as desired */
  height: auto; /* Adjust the height as desired */
  background-color: rgba(48, 41, 144, 0.514); /* Change the background color as desired */
  /* Additional styles for the square container */
}

.top-left {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.image-product {
  width: 16vw; /* Adjust the width of the top left image as desired */
  height: auto;
  /* Additional styles for the top left image */
}

.image-total {
  width: 8vw; /* Adjust the width of the top left image as desired */
  height: auto;
  /* Additional styles for the top left image */
}

.static-text {
  margin-left: 10px; /* Adjust the spacing between the image and text as desired */
  color: black;
  /* Additional styles for the static text */
}

.static-text-price {
  text-align: right; /* Adjust the spacing between the image and text as desired */
  color: black;
  margin-right: 10px;
  /* Additional styles for the static text */
}

.static-text-total {
  text-align: right; /* Adjust the spacing between the image and text as desired */
  color: black;
  margin-right: 100px;
  /* Additional styles for the static text */
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}
