body {
    background-image: url("https://img.freepik.com/premium-photo/abstract-trendy-holographic-background-style-80-90s-real-texture-broken-glass-water-drops-bright-acid-colors-synthwave-vaporwave-webpunk-massurrealism-aesthetics_155402-2296.jpg?w=2000");
    background-repeat: no-repeat;
    background-size: cover;
}

