:global(body) {
    background-color: rgb(255, 255, 255)
}

form {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 100vh;
}

label {
font-size: 1.5rem;
margin-bottom: 0.5rem;
}

input[type="email"], input[type="password"] {
padding: 0.5rem;
font-size: 1.2rem;
margin-bottom: 1rem;
border: 2px solid #9e9d9d;
border-radius: 0.5rem;
width: 100%;
max-width: 25rem;
}

button[type="submit"] {
padding: 0.5rem;
font-size: 1.2rem;
background-color: #4b58ad;
color: white;
border: none;
border-radius: 0.5rem;
cursor: pointer;
transition: background-color 0.2s ease-in-out;
}

button[type="submit"]:hover {
background-color: #6c51c6;
}

.form-title {
font-size: 24px;
font-weight: bold;
margin-bottom: 16px;
}