<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device.width, initial-scale=1.0">
    <title>Website login/register page</title>
    <link rel="stylesheet" href="ProfileStyle.css">


</head>

<body>
    <header>
        <h2 class="logo">Damp</h2>
        <nav class="navigation">
            <!--here all pages to navigate to-->
            <a href="../../index.html">Home</a>
            <a href="../ProfilePage/Profile.html">Profile</a>
            <a href="../StorePage/Store.html">Store</a>
            <a href="../ForumPage/Forum.html">Forum</a>
            <a href="../AboutPage/About.html">About</a>
        </nav>
    </header>
    <table id="profile-table">
        <tr>
            <td><span class="icon"><ion-icon name="person"></ion-icon></span></td>
        </tr>
        <tr>
            <td>
                <div>
                    <button class="btn"><span><ion-icon name="chatbubbles-outline"></ion-icon></span> Chat</button>
                    <button class="btn"><span><ion-icon name="settings-outline"></ion-icon></span> Options</button>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div id="user-info">
                    <p class="marginP">General User Information</p>
                    <p class="marginP">General User Information</p>
                    <p class="marginP">General User Information</p>
                    <p class="marginP">General User Information</p>
                </div>
            </td>
        </tr>
    </table>
    <div>
        <div>
            <p><b>Username</b></p>
            <p>Level [number]</p>
        </div>
    <table id="Games-table">
        <tr>
            <th>Games</th>
        </tr>
        <tr>
            <td>
                <div>
                    <p>Game</p>
                    <p>Afbeelding</p>
                </div>
            </td>
            <td>
                <div>
                    <p>Game</p>
                    <p>Afbeelding</p>
                </div>
            </td>
            <td>
                <div>
                    <p>Game</p>
                    <p>Afbeelding</p>
                </div>
            </td>
            <td>
                <div>
                    <p>Game</p>
                    <p>Afbeelding</p>
                </div>
            </td>
        </tr>
    </table>
    <p> </p>
    <table id="Friends-table">
        <tr>
            <th>Friends</th>
        </tr>
        <tr>
            <td>Afbeelding</td>
            <td>Username</td>
            <td>Afbeelding</td>
            <td>Username</td>
        </tr>
        <tr>
            <td>Afbeelding</td>
            <td>Username</td>
            <td>Afbeelding</td>
            <td>Username</td>
        </tr>
        <tr>
            <td>Afbeelding</td>
            <td>Username</td>
            <td>Afbeelding</td>
            <td>Username</td>
        </tr>
        <tr>
            <td>Afbeelding</td>
            <td>Username</td>
            <td>Afbeelding</td>
            <td>Username</td>
        </tr>
        <tr>
            <td>Afbeelding</td>
            <td>Username</td>
            <td>Afbeelding</td>
            <td>Username</td>
        </tr>
        <tr>
            <td>Afbeelding</td>
            <td>Username</td>
            <td>Afbeelding</td>
            <td>Username</td>
        </tr>
    </table>
    </div>

    <script src="script.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>