.itemcontainer.item1 { grid-area: game1; }
.itemcontainer.item2 { grid-area: game2; }
.itemcontainer.item3 { grid-area: game3; }
.itemcontainer.item4 { grid-area: game4; }
.itemcontainer.item5 { grid-area: game5; }

.grid-container {
  display: grid;
  grid-template-areas:
    'game1'
    'game2'
    'game3'
    'game4'
    'game5';

  gap: 10px;
  background-color: rgba(48, 41, 144, 0.514);
  margin-left: 0%;
  padding: 10px;
}

.iteminternal{
  padding-left: 10px;
}

.itemcontainer {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px 0;
  
  text-align: left;

  width: 1000px;
  min-width: auto;
  font-size: 30px;
  height: 125px;
}

.topnav a {
  position: relative;
  font-size: 1.0em;
  color: white;
  text-decoration: none;
  font-weight: 470;
  margin-left: 40px;
}

.topnav a::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: white;
  margin-left: 40px;
  border-radius: 5px;
  left: -40px;
  bottom: -6px;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform .4s;
}

.topnav a:hover::after{
  transform-origin: right;
  transform: scaleX(1);
}

navbar {
    position: fixed;
    height: 70px;
    top: 0;
    left: 0;
    width: 50%;
    padding: 20px 100px;
    margin-left: 25%;
    margin-top: 125px;
    background-color: rgba(48, 41, 144, 0.514);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    backdrop-filter: blur(40px);
}

.container-fluid{
  background: rgba(48, 41, 144, 0.514);
}
