@import url("https://fonts.googleapis.com/css?family=Arial");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgba(48, 41, 144, 0.514);
    background-size: cover;
    background-repeat: no-repeat;

}

header {
    position: fixed;
    height: 70px;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: rgba(48, 41, 144, 0.514);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    backdrop-filter: blur(40px);

}

.logo {
    font-size: 2em;
    color: white;
    user-select: none;
}

.navigation a {
    position: relative;
    font-size: 1.0em;
    color: white;
    text-decoration: none;
    font-weight: 470;
    margin-left: 40px;
}

.navigation a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: white;
    margin-left: 40px;
    border-radius: 5px;
    left: -40px;
    bottom: -6px;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform .4s;
}

.navigation a:hover::after{
    transform-origin: right;
    transform: scaleX(1);
}


.navigation .btnLogin-popup {
    width: 130px;
    height: 40px;
    background: transparent;
    border: 2px solid whitesmoke;
    outline: black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.0em;
    color: white;
    font-weight: 470;
    margin-left : 40px;
    transition: .4s;
}

.navigation .btnLogin-popup:hover {
    background: white;
    color: black;
}

table {
    border-spacing: 10px;
}

th, td {
    padding-left: 30px;
    padding-right: 30px;
}

.btn { 
    margin: 4px 2px;
    background: rgba(48, 41, 144, 0.514);
    border: none;
    outline: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 1em;
    color: white;
}

.icon {
    font-size: 300px;
    text-align: center;
    line-height: 50%;
}

.gameImage{
    width: 130px;
    border-style: solid;
    height: 100px;
}

#Games-table {
    overflow: scroll;
}

#Friends-table {
    overflow: scroll;
}

.smallIcon {
    font-size: 40px;
    line-height: 50%;
}

#gamecolumn{
    margin: 5px; 
    padding: 5px; 
    border-radius: 5px; 
    background: rgba(48, 41, 144, 0.514);
    align-items: center;
    justify-content: center;
    text-align: center;
}

#friend-container{
    margin-left: 5%
}

::-webkit-scrollbar {
    width: 10px;
  }


::-webkit-scrollbar-thumb {
background-color: rgba(48, 41, 144, 0.514);
border-radius: 5px;
}


::-webkit-scrollbar-track {
background-color: transparent;
}

