/*Use this for consistent themes throughout the entire forum.*/
@import url("https://fonts.googleapis.com/css?family=Arial");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 20px 100px;
    background: rgba(48, 41, 144, 0.514);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    backdrop-filter: blur(40px);
}

.logo {
    font-size: 2em;
    color: white;
    user-select: none;
}

.navigation a {
    position: relative;
    font-size: 1.0em;
    color: white;
    text-decoration: none;
    font-weight: 470;
    margin-left: 40px;
}

.navigation a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: white;
    margin-left: 40px;
    border-radius: 5px;
    left: -40px;
    bottom: -6px;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform .4s;
}

.navigation a:hover::after{
    transform-origin: right;
    transform: scaleX(1);
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px auto 1fr 50px;
}

body {
    margin: 0;
    background-color: lightgray;
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px auto 1fr 50px;
}

.main-body {
    grid-column-start: 1;
    grid-column-end: -1;

    gap: 10px;
    padding: 10px;
    box-sizing: border-box;

    margin-left: 50px;
    margin-right: 50px;
}

.header {
    display: flex;
    border: 1px solid #000000;
}

.footer {
    border-top: 1px solid #000000;
    padding: 12px;
    padding-bottom: 28px;

    grid-row-start: -1;
    grid-row-end: -1;
    grid-column-start: 1;
    grid-column-end: -1;
}

.important_for_user {
    background-color: white;
}

.button {
    flex: 1;
    background-color: #999999;
}

.button:hover {
    background-color: #888888;
}

.button:active {
    background-color: #777777;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

td {
    word-break: break-word;
}

th {
    background-color: blue;
    color: white;
    font-size: 30px;
}

tr:nth-child(even) {
    background-color: #888888;
  }

tr:nth-child(odd) {
    background-color: 666666;
}